<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>CSV UPLOAD PAGE</title>
</head>
<body>
<h1 th:text="${msg}"/>
<h1 style="color: red">파일명은 'strings.csv'로 올려주세요</h1>
<div class="container h-100">
    <div class="h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-5">
                <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                    <div class="form-group">
                        <input type="file" class="form-control" id="uploadfile" placeholder="Upload File"  name="uploadfile"/>
                    </div>
                    <button type="submit" class="btn btn-default" id="btnSubmit">Upload</button>
                </form>
                <div th:if="${message}">
                    <span th:text="${message}"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>